<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>File Upload</title>
        <link rel="stylesheet" href="upload.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,600&display=swap" rel="stylesheet">
    </head>
<body>
    <h2>Upload Your File</h2>
    <form action="response.html" method="post" enctype="multipart/form-data">
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name" required><br><br>
        <label for="file">Select a File:</label>
        <input type="file" name="file" id="file" accept=".pdf,.docx,.png,.jpeg,.jpg" required><br><br>
        <div class="submit-btn">
            <input type="submit" value="Upload File">
        </div>
    </form>
</body>
</html> -->
<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'C://StrangerCodes//ADT//Cherry//Cherry//static//upload.css' %} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <title>File Upload</title>
</head>
<body>
    
    <form action="response.html" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</body>
</html>